# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VSCode settings
.vscode/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db
